body {
    margin: 0;
    padding: 0;
    color: #fff;
}

/* The navigation bar */
ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    height: 30px;
    overflow: hidden;
    background-color: #fff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

li {
    float: left;
}

li a {
    color: black;
    padding: 16px;
    text-decoration: none;
}

.button {
  display:inline-block;
  font-size:6px;
  padding:3px 8px;
  text-decoration:none;
  text-align: left;
  color: #fff;
  width: 90px;
  margin:1px;
}

.parallelogram{
  transform: skew(-10deg);
}

.skew-fix{
  display:inline-block;
  transform: skew(10deg);
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.row {
    width: 100%;
    background: linear-gradient(to right, blue , pink); /* Standard syntax */
}

.frontpage {
    font-size: 100px;
    text-indent: 100px;
    padding-top: 150px;
    margin: 0px;
}

.col {
    width: 50%;
    padding-top: 50px;
}
